<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    >

    <!-- Erstat appikonet med den endelige udgave -->
    <application
        tools:replace="android:logo,android:icon"
        android:icon="@drawable/appikon_eo"
        android:logo="@drawable/appikon_eo"
        />


</manifest>
