<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    tools:ignore="UnusedAttribute">

    <!-- Nødvendigt til vækkeur -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- For at kunne gemme podcasts på eksternt lager -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For at kunne starte en forgrundsservice på Android P (29) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- For at kunne afbryde afspilningen ved et telefonopkald -->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="22" />
    <!-- android:theme="@style/Theme.Dr" -->

    <!-- Chromecast eksempel bruger disse -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:name="dk.dr.radio.diverse.ApplicationSingleton"
        android:allowBackup="true"
        android:label="@string/appnavn"
        android:icon="@drawable/appikon"
        android:logo="@drawable/appikon"
        android:theme="@style/Theme.Dr"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="dk.dr.radio.akt.Hovedaktivitet"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="dk.dr.radio.akt.diverse.GenstartProgrammet" />
        <activity
            android:name="dk.dr.radio.akt.Indstillinger_akt"
            android:label="@string/D_R_Radio_Indstillinger"
            android:theme="@style/Theme.Indstillinger"
            tools:ignore="ExportedPreferenceActivity">

            <!-- Gør aktivitet synlig i forbindelse med at brugeren gennemser sit dataforbrug -->
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="dk.dr.radio.data.HentedeUdsendelser$DownloadServiceReciever">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <!--
     * Tidligere AfspillerService - service-del der sørger for at app'en
     * bliver i hukommelsen mens der spilles lyd
        -->
        <service android:name="dk.dr.radio.afspilning.HoldAppIHukommelsenService" />

        <!--
 * BroadcastReceiver som aktiverer afspilleren og evt instantierer den.
 * I tilfælde af at processen har været smidt ud af hukommelsen er dette
 * her faktisk den første kode der køres, derfor er et fuldt
        -->
        <receiver android:name="dk.dr.radio.afspilning.AfspillerStartStopReciever" />

        <!-- Appen skal stoppe med at spille når man tager hovedtelefoner fra telefonen. -->
        <receiver android:name="dk.dr.radio.afspilning.HovedtelefonFjernetReciever" />

        <!-- Til håndtering af knapper på fjernbetjening (f.eks. på Bluetooth headset.) -->
        <receiver android:name="dk.dr.radio.afspilning.FjernbetjeningReciever">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="dk.dr.radio.afspilning.AfspillerIkonOgNotifikation"
            android:label="@string/appnavn">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/afspiller_widgetinfo" />
        </receiver>

        <activity
            android:name="dk.dr.radio.vaekning.AlarmClock_akt"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:icon="@drawable/deskclock_ic_menu_alarms"
            android:label="@string/alarm_list_title" />
        <activity
            android:name="dk.dr.radio.vaekning.SetAlarm_akt"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:label="@string/set_alarm" />

        <receiver
            android:name="dk.dr.radio.vaekning.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="dk.dr.radio.ALARM_ALERT" />
            </intent-filter>
        </receiver>
        <receiver android:name="dk.dr.radio.vaekning.AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!--
        overflødige i vores tilfælde - og det er set at de kommer for ofte, f.eks.
        http://stackoverflow.com/questions/16113459/timezone-changed-intent-being-received-every-few-seconds
        vi ønsker at lave et simpelt vækkeur, så disse er droppet
        <action android:name="android.intent.action.TIME_SET"/>
        <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
        <action android:name="android.intent.action.LOCALE_CHANGED"/>
                -->
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>